@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grayscale-color: #6E80A3;
  --navy-color: #233375;
  --darkblue-color: #0D2C65;
}


@layer utilities {
  .shadow-custom {
    box-shadow: -42px 41px 38px 6px rgba(0, 0, 0, 1);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-grayscale: var(--grayscale-color);
  --color-navy: var(--navy-color);
  --color-darkblue: var(--darkblue-color);
  --color-foreground: var(--foreground);
  --font-pushPenny: var(--font-pushPenny);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pushPenny);
}
